<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SW Space Battleship</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/normalize.css" />
    <link rel="stylesheet" href="dist/gridstack.css" />
    <link rel="stylesheet" href="dist/gridstack-extra.css" />
    <link rel="stylesheet" href="css/games.css">
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-12">
                <img class="main-logo mx-auto d-block" src="css/images/star.png" alt="star-wars-space-battleship-main-logo">
            </div>
        </header>
        <section class="row justify-content-center">
            <div id="app" class="col-11 col-lg-auto mb-4">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h1>Battleship Grid:</h1>
                        <div class="card mb-4">
                            <h2>Place your Ships</h2>
                            <div class="card-body">
                                Move with cursor. Double click to rotate. Battle when ready.
                            </div>
                            <button id="placed-ships-btn" type="button" class="btn btn-dark">Battle!</button>
                        </div>

                        <div class="grid-ships mb-4">
                            <div id="grid" class="grid-stack grid-stack-10"></div>
                        </div>

                        <table id="battleshipGrid" class="mb-4">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="number in grid.numbers">{{number}}</th>
                                </tr>
                            </thead>
                            <tbody id="grid-body">
                                <tr v-for="letter in grid.letters" :class="letter">
                                    <td>{{letter}}</td>
                                    <td v-for="letter in grid.letters"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-auto">
                        <h1>Players:</h1>
                        <div class="mb-4">
                            <span id="p1" class="player-email">{{player_1}}</span>
                            <button id="logout" type="button" class="btn btn-dark btn-sm">Logout</button>
                            <span id="p2" class="player-email">{{player_2}}</span>
                        </div>
                        <h1>Salvo Grid:</h1>
                        <table id="salvoGrid">
                            <thead>
                            <tr>
                                <th></th>
                                <th v-for="number in grid.numbers">{{number}}</th>
                            </tr>
                            </thead>
                            <tbody id="salvo-body">
                            <tr v-for="letter in grid.letters" :class="letter">
                                <td>{{letter}}</td>
                                <td v-for="letter in grid.letters"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="dist/jquery-ui.min.js"></script>
    <script src="dist/gridstack.js"></script>
    <script src="dist/gridstack.jQueryUI.js"></script>
    <script src="js/game.js"></script>
</body>
</html>